/* ==========================================================================
   Generic
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base   
    ========================================================================== */

    body{
        background-color: #FAFFFF;
        margin: 0;
        padding: 0;
        font: normal 400 1.125rem "Mulish", sans-serif;
    }


/* ==========================================================================
   Mise en page
   ========================================================================== */

   .wrapper{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
   }

   section{
      padding: 50px 60px;
   }


/* ==========================================================================
   Element/typographie
   ========================================================================== */

   h2{
    font: normal 600 2.25rem "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
   }

   h3{
    font: normal 700 1.5rem "Mulish", sans-serif;
    margin: 0;
   }

   p{
    margin: 0;
   }
   


/* ==========================================================================
   Components
   ========================================================================== */



   /* Header */

   header{
    background-color: #DCDBE2;
   }
   

   .boiteNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   }

   .boiteNav ul{
    display: flex;
    gap: 50px;
   }

   .boiteNav nav ul li{
    list-style: none;
    font: normal 400 1.125rem "Mulish", sans-serif;
    text-transform: uppercase;
   }

   .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font: normal 400 1.9375rem "Righteous", sans-serif;
    margin: 0;
   }

   .mountain{
    font-size: 30px;
   }

   /* Hero */

   .hero{
    background: url(../images/hero_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
   }

   .hero .contenu{
    color: #FAFFFF;
    background-color: #00132A;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 216px;
    padding: 30px;
    gap: 10px;
   }



   /* Inscription */

   .inscription .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }

   .inscription{
    display: flex;
    justify-content: center;
    padding: 50px 60px;
   }

   .inscription p{
    text-align: center;
    width: 633px;
   }

   .inscription button{
    background-color: #426A7E;
    color: #FAFFFF;
    border: none;
    padding: 10px 30px;
   }


   /* Équipe */
   

   .equipe .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
   }

   .titreEquipe{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 562px;
      gap: 14px;
   }

   .carousel{
    display: flex;
    gap: 115px;
   }

   .carousel article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .carousel h3{
      margin-top: 32px;
   }



   /* Produits */

   .produits .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .titreProduits{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 684px;
      gap: 14px;
      text-align: center;
   }

   .navProduits{
      
   }

   .cases{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 73px;
   }

   .cases img{
      border: solid 1px black;
   }

   .cases article{
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   /* Contact */

   .conteneurContact{
      height: 830px;
      background-color: #B3C5CB;
      padding: 50px;
   }



   /* Footer */

   footer{
    background-color: #34547C;
   }
   